/* Header */
header {
  font-family: 'Nirmala UI';
  padding-left: 30px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  min-height: 70px;
}

#logo a {
  color: GREY;
  text-decoration: none;
  font-size: 1em;
}

header a:hover {
  font-weight: bold;
}

h2 a {
  text-decoration: none;
}

/* Body */


figcaption {
  color: GREY;
  font-size: 0.8em;
  text-align: center;
}

article {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

article > * {
    grid-column: 2;
}

img {
  width: 100%;
}

body {
  font-family: 'Nirmala UI';
}

h1 {
  font-size: 2em;
  margin-bottom: 0.2px;
}

h2 {
  color: GREY;
  margin-bottom: 0.2px;
}

h3 {
  margin-bottom: 0.2px;
}

p a {
  text-decoration: none;
}

p {
  font-weight: normal;
  margin-bottom: 0px;
}

hr {
  width: 40%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.articles {
  text-align: center;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

footer a:hover {
  font-weight: bold;
}

/* Media Queries */

@media screen and (max-width: 947px) {
  article {
      display: grid;
      grid-template-columns: 1fr 4fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  article {
      display: grid;
      grid-template-columns: 1fr 5fr 1fr;
  }

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 0.8em;
  }

  article p {
    font-size: 1.4em;
  }

  figure {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }

}

@media screen and (max-width: 540px) {
  article {
      display: grid;
      grid-template-columns: 1fr 8fr 1fr;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1em;
  }

  h3 {
    font-size: 0.8em;
  }

  article p {
    font-size: 1.2em;
  }

  header {
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    text-align: center;
  }

}

@media screen and (max-width: 450px) {
  article {
      display: grid;
      grid-template-columns: 1fr 11fr 1fr;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.1em;
  }

  h3 {
    font-size: 0.9em;
  }

  article p {
    font-size: 1.4em;
  }



}

@media screen and (max-width: 400px) {
  article {
      display: grid;
      grid-template-columns: 1fr 13fr 1fr;
  }

  h1 {
    font-size: 1.6em;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 0.8em;
  }

  article p {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 350px) {
  article {
      display: grid;
      grid-template-columns: 1fr 12fr 1fr;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1em;
  }

  h3 {
    font-size: 0.8em;
  }

  article p {
    font-size: 1.1em;
  }



}
